Source: libprogress-any-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Nick Morrott <knowledgejunkie@gmail.com>
Section: perl
Testsuite: autopkgtest-pkg-perl
Priority: optional
Build-Depends: debhelper-compat (= 13)
Build-Depends-Indep: libtest-exception-perl <!nocheck>,
                     libtime-duration-perl <!nocheck>,
                     perl
Standards-Version: 4.6.1
Vcs-Browser: https://salsa.debian.org/perl-team/modules/packages/libprogress-any-perl
Vcs-Git: https://salsa.debian.org/perl-team/modules/packages/libprogress-any-perl.git
Homepage: https://metacpan.org/release/Progress-Any
Rules-Requires-Root: no

Package: libprogress-any-perl
Architecture: all
Depends: ${misc:Depends},
         ${perl:Depends},
         libtime-duration-perl
Recommends: libprogress-any-output-termprogressbarcolor-perl
Description: Perl module to record progress to any output
 Progress::Any is an interface for applications that want to display progress
 to users. It decouples progress updating and output, rather similar to how
 Log::Any decouples log producers and consumers (output). The API is also
 rather similar to Log::Any, except Adapter is called Output and category is
 called task.
 .
 Progress::Any records position/target and calculates elapsed time, estimated
 remaining time, and percentage of completion. One or more output modules
 (Progress::Any::Output::*) display this information.
